form{
    width: 850px;
    background-color: #fff;
    padding: 25px;
    border: #dcdcdc 1px solid;
    margin: 50px auto;
}
#table-pedido{
    width: 100%;
    height: 300px;
    border: 1px #dcdcdc solid;
}
#table-pedido h2{
    width: 100%;
    text-align: center;
    border-bottom: 1px #dcdcdc solid;
    padding: 25px 0;
}
#table-pedido th{
    
    height: 45px;
    text-align: left;
    text-indent: 30px;
}
#table-pedido td{
    
    text-align: center;
}
.campo-input{
    width: 300px;
    height: 45px;
    text-align: center;
    
}
#text-pedido{
    width: 450px;
    height: 100px;
}
.bt{
    width: 150px;
    height: 45px;
    color: #fff;
    border: none;
    background-color: #194574;
    margin: 15px 0;
}
#add{
    height: 45px;
    width: 45px;
    border: none;
    background-color: #194574;
    color: #fff;
    font-size: 35px;
}
