#tabela-consulta{
    width: calc(100% - 100px);
    height: auto;
    margin: 50px 50px;
    border: 1px #003333 solid;
    border-collapse: collapse;
    background-color: #fff;
}
#tabela-consulta th{
    height: 45px;
    background-color: #194574;
    color: #fff;
    border: none;
}
#tabela-consulta td{
    height: 45px;
    border: 1px #dcdcdc solid;
    text-align: center;
}

#search-form{
        width: calc(100% - 500px);
        height: auto;
        margin: 20px 25px 0 250px;
        border: 1px #dcdcdc solid;
        background-color: #fff;
        padding: 15px;
    
} 
#tb-search{
        width: 100%;
        height: 120px;
       
        border: 1px #dcdcdc solid;
        
    }
   
 #tb-search   .campo-input{
        height: 35px;
        width: 250px;
        text-align: center;
    }
    #tb-search .bt{
        height: 35px;
        width: 120px;
        border: none;
        background-color: #4284a5;
        color:#fff;
    }
    
        #display-ord{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
    }
    #fx{
    color: red;
    font-size: 45px;
    margin-right: 50px;
    float: right;
}
.bt{
    width: 100px;
    height: 30px;
    background-color: #194574;
    color: #fff;
    font-weight: 600;
    border: none;
    
}
