*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.folhas{
    width: 90%;
    height: auto;
    margin: 20px auto;
    background-color: yellow;
}
.margin{
    width: 90%;
    height: auto;
    border: 1px #003333 solid;
    border-collapse: collapse;
}
.margin td h1{
    
    margin: 5px 0 10px 0;
    
    line-height: 50px;
    
}
.margin td{
    width: 100%;
    border: 1px #194574 solid;
    height: auto;
    vertical-align: top;
}
.margin td h1,h2{
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #194574;
    color: #fff;
    line-height: 40px;
    vertical-align: middle;
}

#table-composition{
    width: 80%;
    height: auto;
    border: #dcdcdc solid 1px;
    border-collapse: collapse;
    margin: 10px auto;
    
}
#table-composition td{
   border: #dcdcdc solid 1px;
   height: 35px;
   width: auto;
   text-align: center;
}
#table-composition th{
   border: #dcdcdc solid 1px;
   height: 45px;
   width: auto;
   
}

#table-header{
     width: 100%;
    height: auto;
    border: #dcdcdc solid 1px;
    border-collapse: collapse;
    
    
}
#table-header tr{
    display: flex;
    vertical-align: middle;
    line-height: 35px;
    
}
#table-header td{
   border: #dcdcdc solid 1px;
   height: 35px;
   width: auto;
   text-indent: 20px;
   
   
   
}
#table-header td h4{
   width:230px;
   text-align: right;
   padding-right: 5px;
   
   
   
}
.procedimento-text{
    width: 99%;
    margin: 5px 0 0 20px;
    float: left;
    
}
@media print{
    .folhas{
    width: 210mm;
    height: 297mm;
    
    }
    .margin{
        width: 200mm;
        height: 287mm;
        margin: 5mm;
    }
}
